<style>
    p, li{
        font-weight: bold;
        font-size: 30px;
    }
</style>
<h1>Django-Firstof</h1>
<hr>
<h2>Escenario A</h2>
<p>
    {% if var1 %}
        {{var1}}
    {% elif var2 %}
        {{var2}}
    {% elif var3 %}
        {{var3}}
    {% else %}
        No data 
    {% endif %}
</p>
<hr>
<h2>Escenario B</h2>
<p>
    {% firstof var1 var2 var3 "No data" %} 
</p>
<hr>
<!--Escenario C-->
<!--Recuerda descomentar la funcion en la vista-->
<!--<h2>Escenario C</h2>
{% for key,value in variables.items %}
    {% if value %}
         <li>{{ value }}</li> 
    {% endif %}
{% endfor %}-->